

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ecf8f8;
  margin: 0;
}   
footer {
  margin-top: 200px;
  background-color: #ecc9c9d6;
  color: white;
  text-align: center;
  padding: 50px;
}
.activity-filter {
  display: inline-block;
} 
.activity-filter-container {
  display: flex;
  flex-direction: row; /* Align the logo and icon in same row */
  width: 100%; /* Setting full width */
  justify-content: space-between; 
}
.h2 {
    font-weight: 300;
    font-size: 61px;
    letter-spacing: -.5px;
}
.h3 {
  font-weight: 400;
  font-size: 49px;
  letter-spacing: 0px;
}
.h5 {
  font-size: 24px;
  letter-spacing: 0px
}

.filter-by {
  font-weight: 400;
  font-size: 14px
}
.subtitle {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .15px;
  margin: 0px;
}
.subtitle.content {
  font-weight: 600;
}
.user-thumb {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.tc-container {
  max-width: 150px;
  min-width: 140px;
  height: 200px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 20px;
  align-items: center;
}
.flex-container-subsection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .tc-container > .user-thumb  */

/* -------- Activity details -------- */
.main-title {
  margin-bottom: 30px;
  border-bottom: #b2967d75 2px solid;
  padding: 10px 0px;
}
.creator-img {
  display: inline-block;
}
.host-details {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.activity-name {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.creator-img-link {
  text-decoration: none;
}

.user-name {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.left {
  flex-grow: 2;
}
.right > .content {
  margin-top: 150px;
}
img#activity-images {
  width: 700px;
  max-height: 600px;
  margin-bottom: 40px;
  object-fit: cover;
}
img#user-activity-images {
  width: 200px;
  height: 200px;
}
.dashboard-welcome-title {
  margin: 40px 0px;
}
.flex-container-subscribed {
  margin-top: 50px;
}
.top-dash.flex-container {
  flex-wrap: wrap;
}
.subscribers-section {
  margin: 100px 0px;
}
.message-image > .username {
  font-size: 12px;
  font-weight: 800;
  margin-top: 5px;
}
.message-text {
  max-width: 800px;
  min-width: 800px;
  height: 100px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 20px;
}
.message {
  margin-bottom: 20px ;
}
.message-date {
  font-size: 10px;
  font-weight: 500;
}
.post-message {
  min-width: 600px;
  max-width: 900px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.right>.card{
  background-color: #eeeeee ;
  margin: auto;
  padding: 25px;
  
}

.right>.content,
.address {
  margin-top: 20px;
  font-size: 16px;
  color: #333333;
}

.right>.content p,
.address {
  margin-bottom: 10px;
}

.content-subtitle{
  font-weight: 500;
}

/* account details, user profile  */

.account-details {
  margin: 40px 0px;
} 

.account-image {
  margin-top: 20px ;
}

.user-profile-other-image >  #user-profile-images,
.account-image > #user-profile-images {
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 40px;
}

.user-profile-other-main { 
  margin: 40px 20px;
}

.user-profile-other-main > p > svg {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.user-profile-other-bottom > h6 {
  font-size: 20px;
  font-weight: 400;
  color: #b45d39;
  margin: 20px 0px;
  text-transform: uppercase;
}

.user-profile-other-bottom {
  margin: 60px 0px;
}

.account-details-main-details {
  margin: 0px 40px;
  margin-bottom: 40px;
}

.account-details-item > .label {
  font-weight: 600;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  min-width: 160px;
}

.account-details-item > .value {
  display: inline-block;
  font-size: 14px;
}

.account-details-main-details > .h6 {
    color: #7c4129;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}


/* update account  */

.account-update-item {
  margin: 15px 0px;
}
.account-update-item > label {
  font-size: 12px;
  min-width: 150px;
  text-transform: uppercase;
}
.account-update-item > h6 {
  text-transform: uppercase;
  margin: 20px 0px;
  margin-top: 40px;
}
.new-activity > .text-center {
  margin: 40px 0px;
}
.user_description { 
  vertical-align: top;
}
.account-update-item-extra-margin {
  margin: 50px 0px;
}

/* homepage  */

.headline-image {
  width: 520px;
  height: 230px;
}
.main-section-header {
  margin: 60px 0px;
}

.welcome-content {
  font-family: 'Lora';
  font-style: italic;
  background-color: #ecf8f8;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.15px;
}
.welcome-name{
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #7c4129;
}

.homepage.welcome {
  font-family: 'Lora';
  font-weight: 800;
  color: #B2967D;
  font-style: italic;
  font-size: 24px;
}

#front-page-img {
  width: 500px;
}

.flex-container.filter > .left {
  flex-grow: 1; 
  max-width: 200px;
  min-width: 200px;
}
.card.act-card {
  margin-bottom: 20px;
  margin-right: 40px;
}
.card-body.act-card-homepage-body {
  max-width: 200px;
  min-height: 130px;
  background-color: #eee4e170;
  text-align: center;
}
.user-profile-act-card {
  max-width: 200px;
  min-height: 130px;
  margin-right: 30px;
}
.h5.card-title > a {
  color: black;
  color: #0000009e;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration-color: #786656;
}
.right-flex-container {
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}
#homepage-card-img {
  width: 200px;
  height: 200px;
}
.activity-btn {
  margin-bottom: 8px;
}
.bottom-section > .h3 {
  margin-bottom: 100px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.activity-filter {
  display: inline-block;
  font-size: 18px;
  width: 180px;
  height: 40px;
  color: #b2967d;
  /* border-left: 0.08em solid; */
  position: relative;
  /* margin-top: 0.8em; */
  cursor: pointer;
  background-color: #eee4e170;
  /* border-color: #b2967d; */
  border: 1px solid #b2967d;
}
.h3.homepage-subheading {
  color: #7c4129;
}

 /*  --------- btn ----------- */
 .btn {
  position: relative;

  display: block;
  padding: 10px 40px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #B2967D;
  color: #ffffff;

  transition: background-color .3s;
 }

 .btn:hover,
 .btn:focus {
  background-color: #826c59;
  color: #ffffff;
 }

 .btn>* {
   position: relative;
 }

 .btn span {
   display: block;
   padding: 12px 24px;
 }

 .btn:before {
   content: "";

   position: absolute;
   top: 50%;
   left: 50%;

   display: block;
   width: 0;
   padding-top: 0;

   border-radius: 100%;

   background-color: #826c599f;

   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }

 .btn:active:before {
   width: 120%;
   padding-top: 120%;

   transition: width .2s ease-out, padding-top .2s ease-out;
 }
 .btn.disabled, 
 .btn:disabled {
   background-color: grey;
 }
/* ---------------------------Dashboard */
 .flex-container-dashboard {
  display: flex;
  flex-wrap: nowrap;
 }

 .flex-container-dashboard > .left {
    flex-grow: 1;
    width: 500px;
    height: auto;
    background-color: E6BEAE;
    width: 200px;
    
  }

  .flex-container-dashboard >.right {
    flex-grow: 2;
    width: 500px;
    height: auto;
    background-color: E6BEAE;
    align-self: center;
  }

  .subtitle.content {
    display: inline-block;
  }
 .buttons-container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
   /* Align the buttons in the center */
 }

 .btn-dash {
  display: inline-block;
  padding: 10px 20px;
   /* Add some padding */
   background-color: #B2967D;
   /* Set the background color */
   color: white;
   /* Set the text color */
   text-decoration: none;
   /* Remove underline from links */
   border: none;
   /* Remove button borders */
   border-radius: 4px;
   /* Add rounded corners */
   font-size: 16px;
   /* Set the font size */
   cursor: pointer;
   /* Add cursor pointer on hover */
   margin: 5px;
   /* Add some margin between buttons */
 }

 .btn-dash:hover {
   background-color: #826c59;
   /* Change the background color on hover */
 }

 .btn-dash a {
   color: white;
   /* Set the text color for links */
   text-decoration: none;
   /* Remove underline from links */
 }
 
.h3.dash-subheading {
  font-size: 20px;
  font-weight: 400;
  color: #b45d39;
  margin-top: 50px;
}


 /* * -------------------------Login button */ 

  .wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    box-sizing: border-box;
  }
  .wrapper.sign-up {
      max-width: 550px;
      min-height: 700px;
      margin: 80px auto;
      padding: 40px 30px 30px 30px;
      background-color: #ecf0f3;
      border-radius: 15px;
      box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

  .logo {
    width: 80px;
    margin: auto;
  }

  .logo img {
    width: 100%;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
      0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #a7aaa7,
      -8px -8px 15px #fff;
  }

  .wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
  }

  .wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
  }

  .wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  }

  .wrapper .form-field .fas {
    color: #555;
  }

  .wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #E6BEAE;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
      -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    font-weight: 900;
  }

  .wrapper a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
  }

  .wrapper a:hover {
    color: #E6BEAE;
  }

  /* navbar  */

  .my-navbar {
    float: left;
  }
  .navbar{
    color:#E6BEAE
  }
  /* ------------------create-activity */
  .form-titles{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    }
  
  .new-act-label {
      color: #333;
    }

  .btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
  }

  .help-block.with-errors {
      color: #ff5050;
      margin-top: 5px;
  }

  .new-act-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }