

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */
.activity-filter {
  display: inline-block;
} 
.activity-filter-container {
  display: flex;
  flex-direction: row; /* Align the logo and icon in same row */
  width: 100%; /* Setting full width */
  justify-content: space-between; 
}