{% extends "base.html" %}
{% block title %}User Account{% endblock %}

{% block body %}

<div class=""> 
    <div class="card account-details"> 
        <div class="account-image">
            <img id="user-profile-images" src="{{ user.user_image_path }}" alt="Stock Image of a User">
        </div>
        <div class="account-details-main-details">
            <h6 class="h6">
                User Details
            </h6>

            <div class="account-details-item">
                <p class="label">
                    Username:
                </p>
                <p class="value"> 
                    {{ user.username }}
                </p>
            </div>
            <div class="account-details-item">
                <p class="label">
                    Email Address:
                </p>
                <p class="value">
                    {{ user.email }}
                </p>
            </div>
            <div class="account-details-item">
                <p class="label">
                    First Name:
                </p>
                <p class="value">
                    {{ user.fname }}
                </p>
            </div>
            <div class="account-details-item">
                <p class="label">
                    Last Name:
                </p>
                <p class="value">
                    {{ user.lname }}
                </p>
            </div>
            {% if user.address != None %}
            <div class="account-details-item">
                <p class="label">
                    Street address:
                </p>
                <p class="value">
                    {{ user.address.street_address }}
                </p>
            </div>
            <div class="account-details-item">
                <p class="label">
                    City:
                </p>
                <p class="value">
                    {{ user.address.city }}
                </p>
            </div>
            <div class="account-details-item">
                <p class="label">
                    State:
                </p>
                <p class="value">
                    {{ user.address.state }}
                </p>
            </div>
            <div class="account-details-item">
                <p class="label">
                    Zip Code:
                </p>
                <p class="value">
                    {{ user.address.zip_code }}
                </p>
            </div>
            {% endif %}
            <div class="account-details-item">
                <p class="label">
                    Describe Yourself :
                </p>
                <p class="value">
                    {{ user.user_description }}
                </p>
            </div>

        </div>
    </div>
    <div buttons-container>
        <a href="/update_account" class="btn-dash"> Edit Personal Profile </a>
    </div>

</div>


{% endblock %}