{% extends "base.html" %}
{% block title %}Activity Details{% endblock %}

{% block styles %}
	<style>
		.address {
			margin-left: 4em;
		}
	</style>
{% endblock %}


{% block body %}
	<h2>Tribe Activity Details</h2>
	<h2>{{ activity.activity_name }}</h2>
	<p>Host of activity: {{ activity.creator.fname }}</p>
	<p>Date of activity: {{ activity.activity_date }}</p>
	<p>Type of activity: {{ activity.activity_type }}</p>
	<p>Description: {{ activity.activity_description }}</p>
	<p>Address:</p>
	<p class="address">
		{{ activity.address.street_address }}<br>
		{{ activity.address.city }}, {{ activity.address.state }}<br>
		{{ activity.address.zip_code }}
	</p>

	<p>
    	<img id="activity-images"
        src="{{ activity.activity_image_path }}" alt="Image relating to activity" style="width: 200px; height: 200px;">
    </p>
	
	
	<h2>Subscribers</h2>
	{% if activity.users %}
	<ul>
		{% for user in activity.users %}
		<li>
			<a href="/user_profile/{{ user.user_id }}">{{ user.username }}</a>
		</li>

		{% endfor %}
	</ul>
	{% else %}
		<p>No subscribers yet.</p>
	{% endif %}

	<section id="subscribe">
		<button data-activity-id="{{ activity.activity_id }}" id="subscribe-button">Subscribe</button>
	</section>

	<script src="/static/js/subscribe.js"></script>
	
	
{% endblock %}






