{% extends "base.html" %}
{% block title %}TribeConnect Homepage {% endblock %}

{% block body %}
<div id="root">
  <div class="spacer"></div> <!-- Add a div element for spacing -->

    <h1>
      Welcome to Tribe Connect 
    </h1>
      <p>
        Here's where you can build a community of curious minds and open hearts,
      </p>
      <p>discover the beauty of shared experiences and meaninful relationships, 
      </p>
      <p>one connection at a time.
      </p>

  <div 
    class="topnav">
    {% if user and session["user_email"] == user.email %}
      <a href="/users/{{ user.user_id }}">View your User Dashboard</a>
      <a href="/log_out">Logout</a>
    {% else %}
    <a href="/log_in_page">Log In</a>
    {% endif %}
  </div>  

  <!-- Flexbox to display activities in three columns or use react trading cards with grid -->
  <div>
  <h3>
    Upcoming TribeConnect events
  </h3>

    {% for activity in activities %}
      <ul>
          <li>
            <p><a href="/activities/{{ activity.activity_id }}">{{ activity.activity_name }}</a></p>
            <p>{{ activity.activity_date }}</p>
            <p><img id="activity-images"
              src="{{ activity.activity_image_path }}" alt="Image relating to activity" style="width: 200px; height: 200px;"></p>
          </li>
      </ul>
    
    {% endfor %}
  </div>
</div>


{% endblock %}
