{% extends "base.html" %}
{% block title %}TribeConnect Homepage {% endblock %}

{% block body %}
  <h1>Welcome to Tribe Connect </h1>

  <h2>This is the Homepage for now</h2>

  <div class="topnav">
    <a href="/create_new_account" class="button">Create new account</a>

  {% if user and session["user_email"] == user.email %}
    <a href="/users/{{ user.user_id }}">View your User Dashboard</a>
    <a href="/logout">Logout</a>

  {% else %}
    <form action="/login" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
      <p>
        Password <input type="password" name="password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  {% endif %}
</div>  

{% for activity in activities %}
<ul>
    <li>
      <a href="/activities/{{ activity.activity_id }}">{{ activity.activity_name }}</a>
    </li>
</ul>
   
{% endfor %}

{% endblock %}
