{% extends "base.html" %}
{% block title %}TribeConnect Homepage {% endblock %}

{% block body %}
<div id="root">
  <div class="spacer"></div> <!-- Add a div element for spacing -->

    <h1>
      Welcome to Tribe Connect 
    </h1>
      <p>
        Here's where you can build a community of curious minds and open hearts,
      </p>
      <p>discover the beauty of shared experiences and meaninful relationships, 
      </p>
      <p>one connection at a time.
      </p>

  <div 
    class="topnav">
    {% if user and session["user_email"] == user.email %}
      <a href="/users/{{ user.user_id }}">View your User Dashboard</a>
      <a href="/log_out">Logout</a>
    {% else %}
    <a href="/log_in_page">Log In</a>
    {% endif %}
  </div>  

  <!-- Flexbox to display activities in three columns or use react trading cards with grid -->
  <div id="activity-container">
    <h3>Upcoming TribeConnect events</h3>
  <!-- <ActivityFilter activities={activities} /> -->
      <div id="activity-filter">
        <label for="activity-filter">Filter activities by type:</label>
        <select id="activity-filter" name="activity_type-filter" required>
          <option value="Fitness/Exercise">Fitness/Exercise</option>
          <option value="Culinary">Culinary</option>
          <option value="Arts">Art</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Games/Gaming">Games/Gaming</option>
          <option value="Outdoor">Outdoor</option>
          <option value="Indoor">Indoor</option>
          <option value="Dancing">Dancing</option>
          <option value="Meditation">Meditation</option>
          <option value="Gardening">Gardening</option>
          <option value="DIY/Crafting">DIY/Crafting</option>
          <option value="Photography">Photography</option>
          <option value="Shopping">Shopping</option>
          <option value="Volunteering">Volunteering</option>
          <option value="Other">Other</option>
        </select>
      </div>


  </div>
</div>
<div id="activities-to-filter" data-activities-to-filter="{{ activities }}"></div>
<script type=text/javascript>
    const activities={{ activities|tojson|safe }};
</script>
<script type="text/jsx" src="/static/jsx/filter.jsx"></script>



{% endblock %}
