{% extends 'base.html' %}
{% block title %}Log In to Account{% endblock %}

{% block body %}
<div class="wrapper">
  <div class="logo">
    <img src="/static/images/Logo.png" alt="Tribe Connect Logo">
  </div>
  <div class="text-center mt-4 name">
    Tribe Connect
  </div>
      <form class="p-3 mt-3" action="/log_in_form" method="POST">
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text" name="email" id="email" placeholder="Email address">
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password" name="password" id="pwd" placeholder="Password">
      </div>
      <button class="btn mt-3">Login</button>
      <div class="text-center fs-6">
        <a href="/sign_up_page">Sign Up</a>
      </div>
      
    </form>
  </div>
{% endblock %}
