{% extends 'base.html' %}
{% block title %}Update Account{% endblock %}

{% block body %}
<div class="new-activity container">
  <div class=" text-center mt-5 ">
    <h4>Update Account</h4>
  </div>

  
      <form action="/update_account_form" method="POST" enctype="multipart/form-data">
        <div class="account-update-item">
          <label for="username">Username: </label>
          <input type="text" id="username" name="username" value="{{ user.username }}"required>
        </div>
        <div class="account-update-item" style="display:none;">
          <input style="display:none;" type="text" id="user_id" name="user_id" value="{{ user.user_id }}"
            required><br>
        </div>
        <div class="account-update-item">
          <label for="password">Password: </label>
          <input type="password" id= "password" name="password" value="{{ user.password }}" required>
        </div>
        <div class="account-update-item">
          <label for="fname">First Name: </label>
          <input type="text" id="fname" name="fname" value="{{ user.fname }}" required>
        </div>
        <div class="account-update-item"> 
          <label for="lname">Last Name: </label>
          <input type="text" id="lname" name="lname" value="{{ user.lname }}" required>
        </div>
        <div class="account-update-item">
          <h6 for="address">Address</h6>
        </div>
        <div class="account-update-item">
          <label for="street_address">Street name: </label>
          <input type="text" id="street_address" name="street_address" value="{{ user.address.street_address }}" required>
        </div>
        <div class="account-update-item">
          <label for="city">City: </label> 
          <input type="text" id="city" name="city" value="{{ user.address.city }}" required>
        </div>
        <div class="account-update-item">
          <label for="state">State:</label>
          <select id="state" name="state" value="{{ user.address.state }}" required>
            <option value="">Select a state</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="account-update-item">
          <label for="zip_code">Zip Code: </label> 
          <input type="text" id="zip_code" name="zip_code" value="{{ user.address.zip_code }}" required><br>
        </div>
        <div class="account-update-item">
          <label for="user_description" class="user_description">User Description:</label>
          <textarea id="user_description" name="user_description" value="{{ user.user_description }}" rows="10"
            cols="40">{{ user.user_description }}</textarea><br>
        </div>
        <div class="account-update-item">
          <input type="file" name="my-file">
        </div>
        <div class="account-update-item-extra-margin">
          <input class="btn-dash" type="submit" value = "Update account">
        </div>
        
       </form>
  </div>
  <script type="text/javascript">
    const userState = "{{ user.address.state }}"
  </script>
  <script src='/static/js/update_user.js' type="text/javascript"></script>


{% endblock %}

