{% extends "base.html" %}
{% block title %}User Profile View{% endblock %}

{% block body %}
  <h1>User Profile viewed by other users</h1>
  <div>
    <ul>
      <li>
        <p>Username: {{ user.username }}</p> 
      </li>
      <li>
        <p>Email: {{ user.email }}</p>
      </li>
      <p>
        <img id="user-profile-images"
        src="{{ user.user_image_path }}" alt="Stock Image of a User" style="width: 200px; height: 200px;">>
      </p>
      <li>
        <p>Name: {{ user.fname }} {{ user.lname }}</p>
      </li>
      <li> 
        <p>A little bit about me: {{ user.user_description }}</p>
      </li>
    </ul>
  </div>

{% endblock %}
